<section class="about">
    <!-- Immagine avatar con i mie contatti -->
    <div class="container">
        <img [src]="path" alt="Avatar" class="avatar" loading="eager">
        <div class="contatti">
            @for(item of contatti;track $index){
            <a class="contatto" [href]="item.link">
                <img [src]="item.icona" width="25" height="25">
            </a>
            }
        </div>
    </div>
    <div class="secondo-container">
        @if(titoli.length !== 0){
        <h1 appTypeWriter [strings]="titoli" [pausa]="5000" class="titolo"></h1>

        }
        <p class="testo">
            Ciao! Sono Manuel, un giovane Full-stack Developer focalizzato su soluzione moderne e scalabili. Creativo e  
            appassionato di tecnologia, sono curioso per natura e attento al dettaglio. Sono costantemente alla ricerca di nuove 
            soluzioni e cerco di migliorarmi di continuo. Conosco inoltre la lingua inglese molto bene sia a livello scritto che parlato.
            Se sei interessato ad un pò di codice, puoi
            trovare i miei lavori più recenti nella sezione Progetti qui sotto {{smile}}
        </p>
    </div>
</section>