.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin-bottom: 50px;
        flex-direction: column;

        .avatar {
            display: block;
            width: 30vh;
            height: 30vh;
            border-radius: 50%;
            box-shadow: rgba(119, 45, 153, 0.56) 0px 0px 50px 8px;
        }

        .contatti {
            display: flex;
            flex-direction: row;
            gap: 20px;

            .contatto {
                display: block;
                width: 45px;
                height: 45px;
                text-align: center;
                text-decoration: none;
                padding: 10px;
                border: 1px solid var(--bordi);
                font-size: 30px;
                background-color: var(--background);
                border-radius: 8px;

                img {
                    display: block;
                    font-size: 25px;
                }
            }
        }
    }

    .secondo-container {
        display: flex;
        flex-direction: column;
        .titolo {
            font-size: 28px;
            height: 28px;
            // color: var(--terminale);
            // color: #AD03DE;
            color:var(--titoli);
            border-right: 3px solid;
            font-weight: 700;
            white-space: nowrap;
            width: fit-content;
            margin: auto;
            animation: cursor .4s step-end infinite alternate;

        }

        .testo {
            width: 100%;
            margin-top: 20px;
            padding: 20px;
            text-align: justify;
            font-weight: 300;
            font-size: 1.125rem;
            line-height: 1.6;
            color: var(--testo);
            outline-color: oklab(83.1% 0 0 / .5);
        }
    }
}

@media screen and (min-width:1024px) {
    .about {
        flex-direction: row;
        width: 80vw;
        margin: auto;
        align-items: center;
        gap: 2rem;

        .container {
            margin-bottom: 0;

            .contatti {
                .contatto {
                    transition: .2s ease;

                    &:hover {
                        transform: translate(-4px) scale(1.04);
                        box-shadow: var(--box-shadow);
                    }
                }
            }
        }

        .secondo-container {
            display: flex;
            flex-direction: column;

            .titolo {
                margin: 0;
                font-size: 36px;
                height: 38px;
            }

            .testo {
                padding: 0;
            }
        }
    }
}