<div class="dashboard-container">
    <div class="header">
        <h1>Gestione Progetti</h1>
        <!-- Questo tasto lo collegheremo tra poco a un form -->
        <button class="btn-add" routerLink="/dashboard/progetti/nuovo">+ Aggiungi Progetto</button>
    </div>

    <table class="project-table">
        <thead>
            <tr>
                <th>Immagine</th>
                <th>Titolo</th>
                <th>Tecnologie</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
            @for (project of projects; track project.id) {
            <tr>
                <td>
                    <img [src]="'http://localhost:8080/uploads/projects/' + project.img" alt="screenshot" class="thumb">
                </td>
                <td>{{ project.titolo }}</td>
                <td>
                    @for (t of project.tech; track t) {
                    <span class="badge">{{ t }}</span>
                    }
                </td>
                <td>
                    <button class="btn-edit" [routerLink]="['/dashboard/progetti', project.id]">Modifica</button>
                    <button class="btn-delete" (click)="deleteProject(project.id)">Elimina</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>