.progetti-section {
    width: 95vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    padding: 15px;

    @media screen and (min-width:768px) {
        width: 90vw;
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width:1024px) {
        width: 80vw;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .project-card {
        border: 1px solid var(--bordi);
        border-radius: 12px;
        overflow: hidden;

        .riquadro {
            aspect-ratio: 1 / 1;
            height: 200px;
            width: 100%;
            overflow: hidden;

            .project-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .project-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px;

            .titolo {
                color: var(--titoli);
                font-size: 1.2rem;
            }

            .dettagli {
                padding: 5px 15px;
                color: var(--testo);
                border: var(--bordi) 1px solid;
                border-radius: 4px;
                font-size: 1rem;
                background: var(--background);

                @media screen and (min-width:1024px) {
                    &:hover {
                        opacity: .7;
                        transition: var(--transition);
                    }
                }
            }

        }

        .project-body {
            padding: 10px;
            height: calc(3*1.5rem);

            .descrizione {
                line-height: 1.35rem;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                line-clamp: 3;
                -webkit-box-orient: vertical;
                color: var(--testo);
                font-size: 14px;
                margin: 0;
            }
        }

        .project-footer {
            display: flex;
            flex-direction: column;

            .tech-stack {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                padding: 10px;

                .tech {
                    padding: 5px 10px;
                    background: var(--background);
                    border: var(--bordi) 1px solid;
                    border-radius: 20px;
                    font-size: 13px;
                    color: var(--skill);
                }
            }

            .btn-container {
                display: flex;
                padding: 5px 20px;
                margin-bottom: 15px;
                gap: 20px;

                button {
                    padding: 8px 10px;
                    border-radius: 4px;
                    background: rgb(47, 44, 48);
                    border: var(--bordi) 1px solid;

                    @media screen and (min-width:1024px) {
                        transition: var(--transition);

                        &:hover {
                            // border-color: var(--box-shadow);
                            box-shadow: var(--box-shadow);
                            transform: translateY(-1px);

                            i {
                                transition: var(--transition);
                                transform: scale(1.1);
                            }
                        }
                    }

                    a {
                        color: var(--titoli);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 5px;
                        text-decoration: none;
                    }
                }
            }
        }

    }
}